[maxscale]
threads=1

[Splitter Service]
type=service
router=readwritesplit
servers=MasterNode, Slave1Node, Slave2Node
user={{REPLICATION_USER}}
passwd={{REPLICATION_PASSWORD}}
max_slave_replication_lag=30

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port=3306
socket=/tmp/ClusterMaster

[MasterNode]
type=server
address={{MasterIP}}
port={{MySQLPort}}
protocol=MySQLBackend

[Slave1Node]
type=server
address={{Slave1IP}}
port={{MySQLPort}}
protocol=MySQLBackend

[Slave2Node]
type=server
address={{Slave2IP}}
port={{MySQLPort}}
protocol=MySQLBackend

[Replication Monitor]
type=monitor
module=mysqlmon
servers=MasterNode, Slave1Node, Slave2Node
user={{REPLICATION_USER}}
passwd={{REPLICATION_PASSWORD}}
monitor_interval=1000
detect_replication_lag=true
detect_stale_master=true
script=/root/failover.sh
events=master_down

[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
address=localhost
port=6603
